# Bot Global Configuration
BOT_NAME=gambit

# Gambit Core Environment
GAMBIT_CORE_VERSION=0.0.1
GAMBIT_CORE_DEPLOY_VERSION=0.0.1
GAMBIT_CORE_PORT=8080

# Slack Client Environment
SLACK_CLIENT_VERSION=0.0.1
SLACK_CLIENT_DEPLOY_VERSION=0.0.1
PROD_SLACK_API_TOKEN=
DEV_SLACK_API_TOKEN=
