# Bot Global Configuration
BOT_NAME=gambit

# Gambit Core Environment
GAMBIT_CORE_VERSION=0.0.1
GAMBIT_CORE_DEPLOY_VERSION=0.0.1
GAMBIT_CORE_PORT_PROD=8080
GAMBIT_CORE_PORT_DEV=8081

# Slack Client Environment
SLACK_CLIENT_VERSION=0.0.1
SLACK_CLIENT_DEPLOY_VERSION=0.0.1
PROD_SLACK_API_TOKEN=
DEV_SLACK_API_TOKEN=

# Database Configuration
PG_PORT_DEV=4432
PG_PORT_PROD=6432
PG_USER_PROD=gambit_prod
PG_USER_DEV=gambit_dev
PG_PASSWORD_PROD=
PG_PASSWORD_DEV=
PG_DB_PROD=gambit_prod
PG_DB_DEV=gambit_dev

# Add Administrator Tool Configuration
ADD_ADMIN_VERSION=0.0.1
